<% @title = "Edit #{@journal.title} | Daily Practice" %>

<form action="/journals/<%= @journal.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group">
        <label for="text">Title</label>
        <input class="form-control form-control-lg" type="text" name="journal[title]" id="title" value="<%= @journal.title %>">
    </div>
    <div class="form-group">
        <label for="text">Date</label>
        <input class="form-control form-control-lg" type="text" name="journal[date]" id="date"  value="<%= @journal.date %>">
    </div>
    <div class="form-group">
        <label for="text">Free-Writing</label>
        <textarea class="form-control form-control-lg" name="journal[content]" id="content" cols="30" rows="10"><%= @journal.content %></textarea>
    </div>

    <% @journal.gratitudes.each do |gratitude| %>
        <div class="form-group">
            <input type="hidden" name="journal[gratitudes][][id]" value="<%= gratitude.id %>">
            <label for="gratitude">Gratitude</label>
            <textarea class="form-control form-control-lg" name="journal[gratitudes][][content]" id="" cols="30" rows="2"><%= gratitude.content %></textarea>
        </div>
    <% end %>
    <% empty_gratitudes = 3 - @journal.gratitudes.count %>
    <% empty_gratitudes.times do %>
        <div class="form-group">
            <label for="gratitude">Gratitude</label>
            <textarea class="form-control form-control-lg" name="journal[gratitudes][][content]" id="" cols="30" rows="2"></textarea>
        </div>
    <% end %>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>