<% @title = "Edit #{@journal.title} | Daily Practice" %>

<form action="/journals/<%= @journal.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group">
        <label for="text">Title</label>
        <input class="form-control form-control-lg" type="text" name="journal[title]" id="title" value="<%= @journal.title %>">
    </div>
    <div class="form-group">
        <label for="text">Date</label>
        <input class="form-control form-control-lg" type="text" name="journal[date]" id="date"  value="<%= @journal.date %>">
    </div>

    <!-- begin FreeWrite -->

    <div class="form-group">
        <label for="text">Free-Writing</label>
        <textarea class="form-control form-control-lg" name="journal[content]" id="content" cols="30" rows="10"><%= @journal.content %></textarea>
    </div>

    <!-- begin Gratitude -->
    
    <% @journal.gratitudes.each do |gratitude| %>
        <div class="form-group">
            <input type="hidden" name="journal[gratitudes][][id]" value="<%= gratitude.id %>">
            <label for="gratitude">Gratitude</label>
            <textarea class="form-control form-control-lg" name="journal[gratitudes][][content]" cols="30" rows="2"><%= gratitude.content %></textarea>
        </div>
    <% end %>
    
    <% empty_gratitudes = 3 - @journal.gratitudes.count %>

    <% empty_gratitudes.times do %>
        <div class="form-group">
            <label for="gratitude">Gratitude</label>
            <textarea class="form-control form-control-lg" name="journal[gratitudes][][content]" cols="30" rows="2"></textarea>
        </div>
    <% end %>

    <!-- begin Forgiveness -->

    <% @journal.forgivenesses.each do |forgiveness| %>
        <div class="form-group">
            <input type="hidden" name="journal[forgivenesses][][id]" value="<%= forgiveness.id %>">
            <label for="forgiveness">Forgiveness</label>
            <textarea class="form-control form-control-lg" name="journal[forgivenesses][][content]" cols="30" rows="2"><%= forgiveness.content %></textarea>
        </div>
    <% end %>

    <% empty_forgivenesses = 2 - @journal.forgivenesses.count %>

    <% empty_forgivenesses.times do %>
        <div class="form-group">
            <label for="forgiveness">Forgiveness</label>
            <textarea class="form-control form-control-lg" name="journal[forgivenesses][][content]" cols="30" rows="2"></textarea>
        </div>
    <% end %>

    <!-- begin Commitment -->
    
    <% @journal.commitments.each do |commitment| %>
        <div class="form-group">
            <input type="hidden" name="journal[commitment][id]" value="<%= commitment.id %>">
            <label for="commitment">Commitment</label>
            <textarea class="form-control form-control-lg" name="journal[commitment][content]" cols="30" rows="2"><%= commitment.content %></textarea>
        </div>
    <% end %>

    <% empty_commitments = 1 - @journal.commitments.count %>

    <% empty_commitments.times do %>
        <div class="form-group">
            <label for="commitment">Commitment</label>
            <textarea class="form-control form-control-lg" name="journal[commitment][content]" cols="30" rows="2"></textarea>
        </div>
    <% end %>

    <!-- Submit -->


    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>