<% @title = "Your Journals | Daily Practice" %>

<div id="journals" class="container">

    <div class="row pt-4">

        <div class="col-lg text-center">

            <% if @random_gratitude %>
                <blockquote class="blockquote mb-4">
                    <p class="lead mb-0"><%= @random_gratitude.content %></p>
                    <footer class="blockquote-footer">You were grateful on <%= @random_gratitude.journal.created_at.strftime('%A, %b. %d, %Y') %></footer>
                </blockquote>  
            <% end %>

            <a href="/new" class="btn btn-primary btn-lg" role="button">New Journal</a>
            
        </div>

        <% if @journals.count > 0 %>

            <div class="col-lg leaf-2 mt-4 mt-lg-0">
                <h1>Your Journals</h1>

                <ul>
                    <% @journals.each do |journal| %>
                    <li>
                        <p class="lead"><a href="/journals/<%= journal.id %>"><%= journal.created_at.strftime('%A, %b. %d, %Y') %> &bull; <%= journal.title %></a></p>
                    </li>
                <% end %>
            </div>
            
        <% end %>

    </div>

</div>