    <% @title = "#{@journal.title}  | Daily Practice" %>


    <h1><%= @journal.title %></h2>
    <p><em><%= @journal.date %></em></p>
    <p><%= break_lines(@journal.content) %></p>

    <% if @gratitudes.count > 0 %>
        <p>Today I'm grateful for...</p>
        <ul>
            <% @gratitudes.each do |gratitude| %>
                <li><%= break_lines(gratitude.content) %></li>
            <% end %>
        </ul>
    <% end %>

    <% if @forgivenesses.count > 0 %>
        <p>Today I forgive...</p>
        <ul>
            <% @forgivenesses.each do |forgiveness| %>
                <li><%= break_lines(forgiveness.content) %></li>
            <% end %>
        </ul>
    <% end %>

    <% if @commitments.count > 0 %>
        <p>Today I commit...</p>
        <ul>
            <% @commitments.each do |commitment| %>
                <li><%= break_lines(commitment.content) %></li>
            <% end %>
        </ul>
    <% end %>


    <a class="btn btn-primary float-left mr-1" href="/journals/<%= @journal.id %>/edit" role="button">Edit</a>
    <form action="/journals/<%= @journal.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button class="btn btn-outline-secondary float-left mr-1" type="submit">Delete</button>
    </form>
